__pycache__/*
coco/images/
coco/lables/*.txt
coco/images.shapes
coco/labels.npy
data/coco128.yaml
models/__pycache__/*
runs/*
utils/__pycache__/*
weights/*
yolov5_env/*
detections_val2017__results.json
labels.png
results.png
train_batch0.jpg
train_batch1.jpg
train_batch2.jpg
yolov5x.json
